.MainVideoPage {
  margin: 0 auto;
  align-items: flex-start !important;
  justify-content: center;
  width: 100vw;
  gap: 2vw;
}
.video-container .placeholder {
  width: calc(35vw + 17rem);
  border-radius: 10px;
  height: calc(19vw + 9.8rem);
}
.video-container .placeholder .animated-background {
  border-radius: 10px;
}

.player-section .video-container {
  position: relative;
}
.player-section .video_player {
  margin: 0.5rem 1rem;
  position: relative;
}
.player-section .video_player-iframe {
  width: calc(35vw + 17rem);
  border-radius: 10px;
  height: calc(19vw + 9.8rem);
}
.videos-section {
  width: 30rem;
  height: 100vh;
}
@media screen and (max-width: 800px) {
  .MainVideoPage {
    margin: 0.5rem 0;
    align-items: center !important;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 2vw; */
  }
  .player-section .video_player {
    margin: 0rem;
  }
  .video-container {
    width: 100vw;
    overflow: hidden;
  }
  .player-section .video_player-iframe,
  .video-container .placeholder,
  .video-container .placeholder .animated-background {
    width: calc(100vw * 1.35);
    scale: 0.75;
    height: calc(57vw * 1.35);
    border-radius: 0;
    transform: translate(-17%, -17%);
  }
  .video-container .placeholder .animated-background {
    display: none;
  }

  .videos-section {
    width: 100vw;
    height: 60px;
    /* background-color: red; */
    transform: translateY(-70px);
  }
}
