.SearchVideoResult {
  gap: 1.5rem;
  margin-bottom: 0.2rem;
  align-items: flex-start !important;
  transition: 200ms;
  border-radius: 10px;
  padding: 0.5rem;
}
.SearchVideoResult:hover {
  box-shadow: 0 0 1px 1px var(--dim-text-color);
}
.SearchVideoResult .thumbnail {
  object-fit: cover;
  height: 17.5vw;
  width: 30vw;
  border-radius: 10px;
}
.SearchVideoResult .title {
  font-weight: 500;
  color: var(--text-color);
  font-size: 18px;
}
.SearchVideoResult .stats {
  font-size: var(--small-text);
  color: var(--dim-text-color);
  margin: 0.4rem 0;
}
.SearchVideoResult .channel {
  gap: 0.5rem;
  margin: 0.5rem 0;
  font-size: var(--small-text);
  color: var(--dim-text-color);
}
.SearchVideoResult .channel .logo {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 100%;
}
.SearchVideoResult .desc {
  font-size: var(--small-text);
  color: var(--dim-text-color);
}
@media screen and (max-width: 900px) {
  .SearchVideoResult {
    align-items: center !important;
    margin: 3rem 0;
  }
}
@media screen and (max-width: 800px) {
  .SearchVideoResult {
    gap: 0.8rem;
    margin: 0rem 0;
    padding: 0.5rem;
    width: 100vw;
    border-bottom: 0.01px dotted rgba(128, 128, 128, 0.445);
    border-radius: 0;
  }
  .SearchVideoResult:hover {
    box-shadow: none;
  }
  .SearchVideoResult .thumbnail {
    height: 25vw;
    width: 45vw;
    border-radius: 0px;
  }

  .SearchVideoResult .title {
    font-size: 11px;
  }
  .SearchVideoResult .channel {
    margin: 0.4rem 0;
  }
  .SearchVideoResult .channel .logo {
    width: 20px;
  }
  .SearchVideoResult .desc {
    font-size: 9px;
  }
}
