.SearchResults {
  color: var(--text-color);
}
.SearchResults {
  padding: 1vw;
  background-color: var(--primary-color);
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
@media screen and (max-width: 800px) {
  .SearchResults {
    padding: 0;
  }
}
